.nav{
	height: 40px;
	background: #eee;
	border-top: 3px solid orange;
	border-bottom: 1px  solid #aaa;

}
.nav-con{
	width: 1000px;
	background: #aaa;
	height: 40px;
	margin: 0px auto;
	line-height: 40px;




}

.nav a{
 font: 15px/40px  microsoft yahei;
 color: #eee;
 display: inline-block;
 height: 40px;
 text-decoration: none;
 padding: 0px 12px;

}

a:hover{

	background-color: #999;
	alignment-baseline: top;
}

body, ul, li{

	margin: 0;
	padding: 0;
}

ul, li{
list-style: none;
margin-left: 10px;	
margin-right: 10px;
}

li{
	height: 30px;
	border-bottom: 1px dashed #666;
	line-height: 30px;
	
	padding: 0 15px;
	background: url("tb.gif")  no-repeat left center;
	padding-left: 16px;

}

li a{

	text-decoration: none;
}
ul{
	background-color: #fff;

}

.pets{

	width: 260px;
	height: 327px;
	border:1px solid #009900;
	margin: 10px auto;
	background: url("bg.gif") ;

}

.pets .tips{

	height: 23px;
	margin: 10px 0px 5px 10px;
	border-left:4px solid yellow;
	font: 16px/23px microsoft yahei;
	line-height: 23px;
	padding-left: 11px;
}

.petLists{



}